body{
    background-color: lightblue;
    display: flex;
}
.box{
    width: 250px;
    height: 250px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
img{
    width: 80px;
    height: auto;
}